*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#minicircle{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background-color: #fff;
}

.bounding{
    width: fit-content;
    overflow: hidden;
}

.bounding .boundingelem{
   transform: translateY(100%);
}

#main{
    width: 100%;
    background-color: black;
}

#hero{
    position: relative;
    color: #fff;
    width: 100%;
    height: 100vh;
    background-color: black;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: #fff;
}

#nav a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}

#heading{
    margin: 90px;
}



#heading h1{
    line-height: 1;
    opacity: .6;
    margin-left: 30px;
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 900;
}

#heading #secondh1{
    margin-left: 230px;
}

.blocktext{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
}

.blocktext h5{
    text-transform: uppercase;
    font-size: 15px;
    text-align: right;
}

#chotiheading{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 100px;
    padding-right: 50px;
}

#chotiheading h5{
    text-transform: uppercase;
    margin-top: .5vw;
    text-align: right;
    font-size: 1vw;
}

#herofooter{
    padding: 0 2vw;
    position: absolute;
    bottom: 3%;
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: space-between;
}

#herofooter a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

#herofooter #iconset{
    display: flex;
    gap: 5px;
}

#herofooter .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #888;
}

#second{
    color:#fff;
    padding-right: 10vw;
    padding-top: 200px;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.elem{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3.5vw 3vw;
    padding-right: 0;
    border-top: 1px solid #888;
}

.elem h1{
    text-transform: uppercase;
    font-size: 7.6vw;
    opacity: .7;
}

#elemlast{
    border-bottom: 1px solid #888;
}

.elem img{
    /* display: none; */
    opacity: 0;
    height: 140%;
    z-index: 999;
    position: absolute;
}

#about{
    display: flex;
    gap: 15px;
    align-items: center;
    color: #fff;
    width: 100%;
    background-color: black;
    padding: 10vw 10vw;
    padding-left: 40vw;
}

#textabout{
    width: 25rem;
}

#textabout h5{
    text-transform: uppercase;
    opacity: .6;
    margin-bottom: 10px;
}
#textabout p{
    line-height: 1.7;
    margin-bottom: 30px;
}

#textabout a{
    padding: 12px 22px;
    border: 1px solid #fff;
    border-radius: 100px;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}

#about img{
    width: 200px;
}

#subscribe{
    color: #fff;
    padding: 20px 30px;
    background-color: black;
    padding-bottom: 7vw;
}

#subscribe h5{
    text-transform: uppercase;
    opacity: .6;
}
#subscribe h3{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
}
#footer{
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
}

#footerleft{
    display: flex;
    gap: 20px;
}
#footerright{
    display: flex;
    gap: 30px;
}
#footer a{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}